.index {
    background-color: var(--vert);
}

.img-exemple {
    width: 100%;
}
.index p {
    font-family: 'HelveticaNeue';
    font-size: var(--article);
    margin-left: 5%;
    margin-right: 5%;
    color: var(--beige);
}

.index h2 {
    font-family: 'HelveticaNeue';
    font-size: var(--titre);
    margin-left: 5%;
    margin-right: 5%;
    color: var(--beige);
}

.chronologie {
    background-color: var(--gris);
    padding: 5px;
}

.chronologie p {
    color: var(--blanc);
}

.chronologie img {
    border: 3px solid var(--beige-foncee);
    border-radius: 200px;
    margin-left: 5%;
    width: 121px;
    height: 121px;
}

.chronologie h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chronologie h3 {
    font-family: 'HelveticaNeue';
    font-size: var(--sous-titre);
    margin-left: 5%;
    margin-right: 5%;
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: var(--beige);
    line-height: 110%;
    font-weight: 400;
}

.expo {
    background-color: var(--orange);
    padding-bottom: 50px;
}

.expo h2 {
    color: var(--gris);
}

.expo p {
    color: var(--gris);
}


.index a {
    text-decoration: none;
    color: var(--beige);
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: var(--texte-footer);
}


